.App {
  /* text-align: center; */
  padding: 2rem;
}

body {
  overflow: hidden;
  color: #0A131F;
}
.Head{
  color: white;
}
.LoadingPage{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.RedirectBtn{
  width: 500px;
}


.homeInputs{
  border: 1px solid #efefe7 ;
  background-color: #EFE7ED;
}

button,input{
  padding: 5px 40px;
  cursor: pointer;
  transition: ease 0.2s;
}

button:disabled{
  background-color: rgba(238, 238, 238, 0.315);
}

.homeInputs:hover{
  color: #0A131F;
  background-color: white;
}


.HomeButtons{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}


.CoverPic{
 position: absolute;
 width: 100vw;
 height: 100vh; 
}

.CoverPic img{
  background-size: cover ;
  width: 100%;
  height: 100%;
}

.inputWrapp {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  background-color: rgb(128 124 124 / 13%);
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}


.inputWrapp .QuizInput{
    overflow: hidden;
    width: 500px;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputWrapp .QuizInput .SelectWrapper{
  width: 100%;
  height : 100%;
   position : absolute; 
   text-align : center
}

.inputWrapp .QuizInput .SelectWrapper .SelectBox{
  width: 80%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

 .Buttons{
  display: flex;
  column-gap: 20px;
  justify-content: center;
}


.QuizArea{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: 0F1D2E; */
}

 .QuizArea .RoundData{
  height: 180px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
  font-size: 18px;
 }
 .QuizArea .RoundData .MainData{
  display: flex;
  width: 600px;
  justify-content: space-between;
  padding: 10px;
 }

 .QuizArea .RoundData .MainData > div{
  font-size: 20px;
 }

 .QuizArea .RoundData .MainData  > div span{
  color: gray;
  font-size: 18px;
 }

.QuizArea .QA{
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 400px;
  padding: 30px;
  align-items: center;
}

.QuizArea .QA .AnswersForm{
    width: 100% ;
    display: flex;
    flex-direction: column;
    position: absolute;
    left : 0 ;
    top: 0;
    height: 100%;
}


.QuizArea .QA .AnswersForm .Answers{
  flex-grow: 1;
}

.QuizArea .QA .AnswersForm  .btn{
  border: 1px solid rgb(255, 0, 179);
  background-color: rgba(255, 13, 182, 0.808);
  color: white;
  padding: 5px 20px;
  cursor: pointer;
  transition: ease 0.2s;
}


.QuizArea .QA .AnswersForm  .btn:disabled{
  background-color: #ff00d044;
  border: none;
}

.QuizArea .QA .AnswersForm  .btn:hover{
  background-color: white;
  color: black;
}

.QuizArea .Questions {
  padding: 20px;
  background-color: white;
  white-space: pre-line;
  height: 168px;
  width: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.QuizArea .Questions::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      rgb(255, 0, 221), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
    animation-name: Qborder;
}



.QuizArea .Questions  .Question {
  font-size: 18px;
  letter-spacing: 4;
  color: gray;
}

.QuizArea .Answers .Answer{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.QuizArea .Answers .Answer:hover{
  background-color: rgba(73, 255, 255, 0.253);
}

.QuizArea .Answers .Answer .AnswerInput {
  accent-color: rgb(255, 0, 255);
  transition: 0.4s;
  width: 15px;
  height: 15px;
}

.QuizArea .Answers .Answer .AnswerInput:checked{
  background-color: "red";
}

 .QuizArea .Answers .Answer .AnswerInput:checked{
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  border-radius: 50%;
  border: 2px solid rgb(189, 24, 211);
  color: rgb(255, 0, 179);
}

.QuizArea .Answers .Answer  .AnswerLabel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.QuizArea .Answers .Answer:hover .AnswerInput{
  width: 12px;
  height: 12px;
}

.QuizArea .Answers .Answer .AnswerInput:hover{
  accent-color: rgb(244, 21, 252);
}

.Counter{
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px; /*1*/
  border: 10px solid transparent; /*2*/
  background: #ff00d0;
  background: #ff00d0;
  background: linear-gradient(98deg,#ff00d0 0%, #00ffe7 80%) border-box;
  background: -webkit-linear-gradient(98deg,#ff00d0 0%, #00ffe7 80%) border-box;
  background: -moz-linear-gradient(98deg,#ff00d0 0%, #00ffe7 80%) border-box;
  z-index: 1;
}

.Counter::after{
  content: "";
  background-color:white ;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  border-radius: 50%;
  width: 79px;
  height: 79px;
  z-index: -1;
}

.GameResult {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin : 35px
}

.AnswerFormWrapper{
  overflow-x : hidden  ;
   width : 200px ;
    position : relative;
    height: 240px;
    width: 260px;
}

.ProgressWrapper{
  width : 100% ;
   height : 100% ;
    display : flex  ;
     align-items : center ;
      justify-content : center ;
       flex-direction: column ; 
}


.Progress{
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.Progress > div{
  width: 100%;
  height: 15px;
  border-radius: 10px;
  border: 1px solid black;
  overflow: hidden;
}

.Progress > div > div{
  background: linear-gradient(98deg,#ff00d0 0%, #00ffe7 80%) ;
  background: -webkit-linear-gradient(98deg,#ff00d0 0%, #00ffe7 80%) ;
  background: -moz-linear-gradient(98deg,#ff00d0 0%, #00ffe7 80%) ;
  transition: ease 0.5s;
  border-radius: 20px;
}



.ProgressData{
  font-size: 18px;
  text-align: center;
}


/* Responsive */


@media (max-width : 992px){
  .QuizArea .QA{
    justify-content: space-evenly;
    column-gap: 0;
  }
  .QuizArea .Questions{
    width: 300px;
  }
  .QuizArea .Questions .Question{
    font-size: 17px;
  }
  .AnswerFormWrapper{
    width: 175px;
  }
}

@media (max-width : 768px){
  .QuizArea .QA{
    flex-direction: column;
  }
  .QuizArea .Questions {
    height: 60px;
    width: 70%;
  }
  .QuizArea .Questions .Question{
    font-size: 15px;
  }
  .QuizArea .Answers .Answer{
    font-size: 13px;
  }
  .AnswerFormWrapper{
    width: 350px;
    height: 210px;
  }
}

@media  (max-width : 600px){
  .QuizArea .RoundData .MainData {
    width: 460px;
}
.QuizArea .RoundData .MainData > div {
  font-size: 16px;
}
.QuizArea .RoundData .MainData > div span{
  font-size: 15px;
}
.Counter{
  width: 55px;
  height: 55px;
}
.Counter::after {
  width: 54px;
  height: 54px;
}
.QuizArea .QA{
  padding: 10px;
}
.Counter >span{
  font-size: 14px;
}
.inputWrapp .QuizInput{
  width: 330px;
}
.RedirectBtn{
  width: 400px;
  font-size: 12px;
}
}

@media (max-width : 450px){
  .QuizArea .RoundData .MainData {
    width: 300px;
}
.QuizArea .RoundData .MainData > div {
  font-size: 13px;
}
.QuizArea .RoundData .MainData > div span{
  font-size: 12px;
}

.AnswerFormWrapper{
  width: 250px;
}
.QuizArea .Questions .Question{
  font-size: 13px;
}
.QuizArea .QA .AnswersForm .btn{
  padding: 3px 15px;
}
button{
  padding: 3px 30px;
  font-size: 12px;
}
.GameResult{
  font-size: 13px;
}
.RedirectBtn{
  width: 310px;
  font-size: 10px;
}
.QuizInput{
  padding: 5px;
  width: 90%;
}
.QuizInput .QuizInput .SelectWrapper .SelectBox{
  height: 20px;
}
}

